/* ------------- */
/* Basic Setting */
/* ------------- */

*, *::before, *::after {
    box-sizing: inherit;
}

::selection {
    color: black;
    background-color: #3ed0ff;
}

/* ------------- */
/* Content Style */
/* ------------- */

.notification {
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 0 20px;
    background-color: #9a3d37;
    border-radius: 0;
    height: 10%;
    box-shadow: 0 0 25px #00384a44;
    font-weight: 400;
    float: right;
    color: black;
    z-index: 1000;
}

.notification a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: .5px;
    transition: 800ms;
}

.notification a:hover {
    color: grey;
}

/*.animation {*/
/*    !*animation: FadeIn 4s ease-in forwards;*!*/
/*    !*animation: pulse 5s infinite;*!*/
/*    !*animation: FadeOut 4s cubic-bezier(0.55, 0.55, 0.55, 0.55) forwards;*!*/
/*    animation-name: stretch;*/
/*    animation-duration: 5s;*/
/*    animation-timing-function: ease-out;*/
/*    animation-delay: 0s;*/
/*    animation-direction: alternate;*/
/*    animation-iteration-count: infinite;*/
/*    animation-fill-mode: none;*/
/*    animation-play-state: running;*/
/*}*/


/* --------- */
/* Animation */
/* --------- */

@keyframes FadeIn {
    0% {
        top: 50px;
        opacity: 0;
    }
    25% {
        top: -5px;
        opacity: .75;
    }
    50% {
        top: 5px;
        opacity: 1;
    }
    100% {
        top: 0px;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.favoritconfirmnotification{
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 0 20px;
    background-color: var(--olive);
    border-radius: 0;
    height: 10%;
    box-shadow: 0 0 25px #00384a44;
    font-weight: 400;
    float: right;
    color: black;
    z-index: 1000;
}

.favoritconfirmnotification a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: .5px;
    transition: 800ms;
}

.favoritconfirmnotification a:hover {
    color: grey;
}

.favoritconfirmdeletenotification{
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 0 20px;
    background-color: var(--chestnut);
    border-radius: 0;
    height: 10%;
    box-shadow: 0 0 25px #00384a44;
    font-weight: 400;
    float: right;
    color: black;
    z-index: 1000;
}

.favoritconfirmdeletenotification a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: .5px;
    transition: 800ms;
}

.textpopup{
    margin-bottom: 0% !important;
}

.favoritconfirmdeletenotification a:hover {
    color: grey;
}

.confirmdeletepopup{
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    padding: 0 20px;
    background-color: var(--chestnut);
    border-radius: 0;
    height: 10%;
    box-shadow: 0 0 25px #00384a44;
    font-weight: 400;
    float: right;
    color: black;
    z-index: 1000;
}

.confirmdeletepopup a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: .5px;
    transition: 800ms;
}

.confirmdeletepopup a:hover {
    color: grey;
}

.confirmdeletepopupbutton{
    border: none;
    background-color: var(--chestnut);
    color: black;
    font-weight: bold;
}

form .confirmdeletepopupbutton{
    margin-top: 50%;
}

.confirmdeletepopupbutton a:hover {
    color: grey;
}

.alluserdeletebutton{
    margin-top: 0 !important;
}

.confirmapplication{
    width: 98% !important;
    background-color: var(--olive);
    border: #FFFFFF;
}
